.btn-circle {
  border-radius: 100%;
  width: 5em;
  height: 5em;
}

.icon-open {
  animation: spin-close .16s linear,spin-open .16s linear;
  transform-origin:50% 58%;
}

.icon-close {
  animation: spin-close .16s linear,spin-open .16s linear;
  transform-origin:50% 58%;
}

@keyframes spin-close {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(120deg);
    opacity: 0;
  }
}
@keyframes spin-open {
  from {
    transform: rotate(-120deg);
    opacity: 0;
  }
  to {
    transform: rotate(0deg);
    opacity: 1;
  }
}
